# Java
target/
*.class
*.jar

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

#Git
.git/
.gitattributes

# Logs
*.log
log/
logs/

# Archives

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# OS
.DS_Store
Thumbs.db

# Env
.env*
.env.*
!.env.example

# Crash logs
hs_err_pid*
replay_pid*

# Local data
minio/
data/
storage/
uploads/

#Temp files
tmp/
temp/
*.tmp



/frontend/node_modules/
/frontend/dist/
